<div class="w-[80%] mx-auto my-6">
  <div class="flex justify-between items-center flex-wrap">
    <h1 class="text-xl font-sans font-bold">Create new basket</h1>
    <div class="flex items-center gap-4">
      <label class="flex gap-2 relative items-center cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer" />
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span class="text-sm font-medium text-gray-700"> is availabale </span>
      </label>
      <app-button preIcon="ri-send-plane-2-fill"> Save basket </app-button>
    </div>
  </div>
  <div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 h-2/3 mt-8 mb-4">
      <!-- Basket images -->
      <app-file-input [extensions]="['PNG', 'JPG']" [multiple]="true" />
      <div>
        <app-input
          input="text"
          name="basket-title"
          inputId="basket-title"
          label="Basket title"
          placeholder="Type the title here"
          [(ngModel)]="inputTitle"
          [required]="true"
          containerClass="mb-8"
        />
        <app-input
          input="textarea"
          name="basket-description"
          inputId="basket-description"
          label="Basket description"
          placeholder="Write text here..."
          [(ngModel)]="inputDescription"
          [required]="true"
          containerClass="mb-8"
          [rows]="11"
        />
      </div>
    </div>
    <div class="grid lg:grid-cols-12 sm:grid-cols-1 gap-8 h-2/3 my-4">
      <div class="lg:col-span-6 sm:col-span-1">
        <h6 class="font-sans my-4">Tags</h6>
        <div
          class="flex flex-wrap items-center border border-gray-300 rounded-md py-1 px-2 bg-white"
        >
          @for (tag of tags; track tag; let index = $index) {
            <div>
              <span
                class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-gray-700 bg-gray-100 rounded"
              >
                {{ tag }}
                <button
                  type="button"
                  class="inline-flex items-center p-1 ms-2 text-sm text-gray-500 bg-transparent rounded-sm"
                  (click)="removeTag(index)"
                >
                  <i class="ri-close-line"></i>
                  <span class="sr-only">Remove badge</span>
                </button>
              </span>
            </div>
          }
          <input
            type="text"
            [(ngModel)]="inputTagValue"
            class="border-none px-2 focus:ring-transparent bg-transparent"
            (keydown.enter)="addTag()"
            placeholder="Specify some tags"
          />
        </div>
      </div>
      <div class="lg:col-span-6 sm:col-span-1">
        <h6 class="font-sans my-4">Ingredients</h6>
        <div
          class="flex flex-wrap items-center border border-gray-300 rounded-md py-1 px-2 bg-white"
        >
          @for (
            ingredient of ingredients;
            track ingredient;
            let indexIngredient = $index
          ) {
            <div>
              <span
                class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-gray-700 bg-gray-100 rounded"
              >
                {{ ingredient }}
                <button
                  type="button"
                  class="inline-flex items-center p-1 ms-2 text-sm text-gray-500 bg-transparent rounded-sm"
                  (click)="removeIngredient(indexIngredient)"
                >
                  <i class="ri-close-line"></i>
                  <span class="sr-only">Remove badge</span>
                </button>
              </span>
            </div>
          }
          <input
            type="text"
            [(ngModel)]="inputIngredientValue"
            class="border-none px-2 bg-transparent focus:ring-transparent"
            (keydown.enter)="addIngredient()"
            placeholder="Specify some ingredients"
          />
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 h-2/3 my-4">
      <div>
        <h6 class="font-sans my-4">Price</h6>
        <div class="flex items-center">
          <button
            id="dropdown-phone-button"
            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
            type="button"
          >
            <img
              src="assets/morocco-flag.svg"
              alt="morocco-flag"
              class="h-4 me-2"
            />
            MAD
          </button>

          <label
            for="phone-input"
            class="mb-2 text-sm font-medium sr-only dark:text-white"
            >Phone number:</label
          >
          <div class="relative w-full">
            <input
              type="text"
              id="phone-input"
              class="block p-2.5 w-full z-20 text-sm bg-gray-50 rounded-e-lg border-s-0 border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
              placeholder="100"
              required
            />
          </div>
        </div>
      </div>
      <app-input
        input="date"
        name="expiredTime"
        inputId="expiredTime"
        label="Will expire at"
        [required]="true"
      />
    </div>
  </div>
</div>
