rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isUnmodified(req, res, key) {
      return req.resource.data[key] == res.data[key]
    }

    match /users/{userId} {
      allow list: if false;
      allow get: if request.auth != null && !resource.data.blocked;

      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId && isUnmodified(request, resource, "id") && isUnmodified(request, resource,  "email") && isUnmodified(request, resource, "blocked") && isUnmodified(request, resource, "joinedAt");
      allow delete: if false;
    }

    match /baskets/{basketId} {
      allow read: if request.auth != null;

      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == resource.data.createdBy.id && isUnmodified(request, resource, "createdBy") && (!('soldAt' in resource.data) || resource.data.soldAt == null) && request.resource.data.expiredAt > request.time;
      allow delete: if false;
    }
  }
}