<nav class="bg-white sticky top-0 w-full z-20 border-b border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between container py-4"
  >
    <a routerLink="/" class="flex items-center space-x-3">
      <img src="assets/logo.svg" class="h-8" alt="Solifood Logo" />
    </a>
    <div class="flex items-center md:order-2 space-x-3">
      @if (storage.user) {
        <app-user-avatar
          [user]="{
            displayName: storage.user.firstName + ' ' + storage.user.lastName,
            picture: storage.user.picture
          }"
          [size]="10"
          [showName]="true"
        />
      } @else {
        <a routerLink="login" class="hover:text-primary"> Login </a>
        <button
          routerLink="signup"
          type="button"
          class="text-white bg-primary rounded-lg px-4 py-2"
        >
          Get started
        </button>
      }
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 md:flex-row md:mt-0 md:border-0 md:bg-white"
      >
        @for (link of links; track $index) {
          <li>
            <a
              [routerLink]="link.path"
              class="block py-2 px-3 hover:text-white hover:bg-primary rounded md:hover:bg-transparent md:hover:text-primary md:p-0"
              aria-current="page"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
