<div class="w-[80%] mx-auto my-6">
  <div class="grid grid-cols-12">
    <h1
      class="col-start-1 col-span-12 sm:col-span-6 text-xl font-sans font-bold"
    >
      Explore latest baskets
    </h1>
    <div class="flex col-start-1 col-span-12 sm:col-start-10 sm:col-span-3">
      <label for="search" class="mb-2 text-sm font-sans sr-only">
        Search
      </label>
      <app-input
        input="text"
        name="search"
        inputId="search"
        placeholder="Search..."
        postIcon="ri-search-line"
      />
      <button
        class="ml-4"
        type="button"
        data-drawer-target="drawer-right-example"
        data-drawer-show="drawer-right-example"
        data-drawer-placement="right"
        aria-controls="drawer-right-example"
      >
        <i class="ri-equalizer-line"></i>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    @for (basket of baskets; track basket.id) {
      <app-basket
        class="col-span-12 sm:col-span-4"
        [basket]="basket"
      ></app-basket>
    } @empty {
      Empty list of users
    }
  </div>
  <div class="flex items-center justify-center">
    <nav aria-label="Page navigation example">
      <ul class="flex items-center -space-x-px h-10">
        <li>
          <a
            class="flex items-center justify-center px-3 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Previous</span>
            <i class="ri-arrow-left-s-line"></i>
          </a>
        </li>
        @for (
          page of [].constructor(pagination.total);
          track page;
          let index = $index
        ) {
          <li>
            <a
              class="flex items-center justify-center px-3 h-10 w-10 ms-0 leading-tight text-gray-500 border border-e-0 border-gray-300 cursor-pointer"
              [class]="
                index === pagination.page
                  ? 'bg-green-50 text-primary-500 hover\:bg-green-100'
                  : 'bg-white hover\:bg-gray-100 hover\:text-gray-700'
              "
            >
              {{ index + 1 }}
            </a>
          </li>
        }
        <li>
          <a
            class="flex items-center justify-center px-3 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Next</span>
            <i class="ri-arrow-right-s-line"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- drawer component -->
  <div
    id="drawer-right-example"
    class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80"
    tabindex="-1"
    aria-labelledby="drawer-right-label"
  >
    <h5
      id="drawer-right-label"
      class="inline-flex items-center mb-4 text-base font-sans text-gray-500"
    >
      FILTER BASKETS
    </h5>
    <button
      type="button"
      data-drawer-hide="drawer-right-example"
      aria-controls="drawer-right-example"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center"
    >
      <i class="ri-close-line ri-lg"></i>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="mx-4">
      <div>
        <h6 class="font-sans my-4">Maximum distance</h6>
        <div class="flex flex-wrap">
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
        </div>
      </div>
      <div class="my-4">
        <app-choice
          label="Sort By"
          [choices]="[
            { label: 'Newest', value: 'newest' },
            { label: 'Closest', value: 'closest' },
            { label: 'Lowest price', value: 'lowest-price' },
            { label: 'Highest price', value: 'highest-price' }
          ]"
          name="sort-by-radio"
        ></app-choice>
      </div>
      <app-tags-input
        label="Tags"
        placeholder="Specify some tags"
        [(ngModel)]="tags"
        name="tags"
      />
      <app-button class="w-full mt-4"> Apply filters </app-button>
    </div>
  </div>
</div>
