<div class="w-[80%] mx-auto my-6">
  <div class="grid grid-cols-12">
    <h1
      class="col-start-1 col-span-12 sm:col-span-6 text-xl font-sans font-bold"
    >
      Explore latest baskets
    </h1>
    <div class="flex col-start-1 col-span-12 sm:col-start-10 sm:col-span-3">
      <label for="search" class="mb-2 text-sm font-sans sr-only">
        Search
      </label>
      <app-input
        input="text"
        name="search"
        inputId="search"
        placeholder="Search..."
        postIcon="ri-search-line"
      />
      <button
        class="ml-4"
        type="button"
        data-drawer-target="drawer-right-example"
        data-drawer-show="drawer-right-example"
        data-drawer-placement="right"
        aria-controls="drawer-right-example"
      >
        <i class="ri-equalizer-line"></i>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    @for (basket of baskets; track basket.id) {
      <app-basket
        class="col-span-12 sm:col-span-4"
        [basket]="basket"
      ></app-basket>
    } @empty {
      Empty list of users
    }
  </div>
  <div class="flex items-center justify-center">
    <nav aria-label="Page navigation example">
      <ul class="flex items-center -space-x-px h-10">
        <li>
          <a
            class="flex items-center justify-center px-3 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Previous</span>
            <i class="ri-arrow-left-s-line"></i>
          </a>
        </li>
        @for (
          page of [].constructor(pagination.total);
          track page;
          let index = $index
        ) {
          <li>
            <a
              class="flex items-center justify-center px-3 h-10 w-10 ms-0 leading-tight text-gray-500 border border-e-0 border-gray-300 cursor-pointer"
              [class]="
                index === pagination.page
                  ? 'bg-green-50 text-primary-500 hover\:bg-green-100'
                  : 'bg-white hover\:bg-gray-100 hover\:text-gray-700'
              "
            >
              {{ index + 1 }}
            </a>
          </li>
        }
        <li>
          <a
            class="flex items-center justify-center px-3 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="sr-only">Next</span>
            <i class="ri-arrow-right-s-line"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- drawer component -->
  <div
    id="drawer-right-example"
    class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80"
    tabindex="-1"
    aria-labelledby="drawer-right-label"
  >
    <h5
      id="drawer-right-label"
      class="inline-flex items-center mb-4 text-base font-sans text-gray-500"
    >
      FILTER BASKETS
    </h5>
    <button
      type="button"
      data-drawer-hide="drawer-right-example"
      aria-controls="drawer-right-example"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center"
    >
      <i class="ri-close-line ri-lg"></i>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="mx-4">
      <div>
        <h6 class="font-sans my-4">Maximum distance</h6>
        <div class="flex flex-wrap">
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
          <button
            class="text-sm font-sans bg-gray-100 border border-gray-200 text-black rounded-lg py-1 px-3 mx-1 my-1 hover:bg-green-500 hover:text-white"
          >
            0.5 km
          </button>
        </div>
      </div>
      <div>
        <h6 class="font-sans my-4">Sort By</h6>
        <ul class="mx-4">
          <div class="flex items-center mb-2">
            <input
              id="sort-by-newest"
              type="radio"
              value=""
              name="sort-by-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label
              for="sort-by-newest"
              class="ms-2 text-sm font-medium text-gray-900"
            >
              Newest
            </label>
          </div>
          <div class="flex items-center mb-2">
            <input
              checked
              id="sort-by-closest"
              type="radio"
              value=""
              name="sort-by-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label
              for="sort-by-closest"
              class="ms-2 text-sm font-medium text-gray-900"
            >
              Closest
            </label>
          </div>
          <div class="flex items-center mb-2">
            <input
              id="sort-by-lowest-price"
              type="radio"
              value=""
              name="sort-by-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label
              for="sort-by-lowest-price"
              class="ms-2 text-sm font-medium text-gray-900"
            >
              Lowest price
            </label>
          </div>
          <div class="flex items-center">
            <input
              checked
              id="sort-by-highest-price"
              type="radio"
              value=""
              name="sort-by-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label
              for="sort-by-highest-price"
              class="ms-2 text-sm font-medium text-gray-900"
            >
              Highest price
            </label>
          </div>
        </ul>
      </div>
      <div>
        <h6 class="font-sans my-4">Tags</h6>
        <div
          class="flex flex-wrap items-center border border-gray-400 rounded-md py-1 px-2"
        >
          @for (tag of tags; track tag; let index = $index) {
            <div>
              <span
                class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-gray-700 bg-gray-100 rounded"
              >
                {{ tag }}
                <button
                  type="button"
                  class="inline-flex items-center p-1 ms-2 text-sm text-gray-500 bg-transparent rounded-sm"
                  (click)="removeTag(index)"
                >
                  <i class="ri-close-line"></i>
                  <span class="sr-only">Remove badge</span>
                </button>
              </span>
            </div>
          }
          <input
            type="text"
            id="tags-filter"
            [(ngModel)]="inputValue"
            class="border-none px-2 focus:ring-transparent"
            (keydown.enter)="addTag()"
            placeholder="Specify some tags"
          />
        </div>
      </div>
      <app-button class="w-full mt-4"> Apply filters </app-button>
    </div>
  </div>
</div>
