<app-header />
<div class="bg-white rounded-lg shadow my-20 md:w-1/2 mx-auto">
  <div class="p-8 space-y-6">
    <h1 class="text-2xl font-bold mb-6">Sign in to your account</h1>
    <app-signin-with-google [disabled]="buttonsDisabled" />
    <div class="flex items-center justify-center space-x-4">
      <div class="w-1/2 h-0.5 bg-gray-300"></div>
      <span class="text-gray-500">or</span>
      <div class="w-1/2 h-0.5 bg-gray-300"></div>
    </div>
    <form class="space-y-4 md:space-y-6" (ngSubmit)="handleSubmit()">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium">
          Your email
        </label>
        <input
          type="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          placeholder="example@example.com"
          required
          [(ngModel)]="user.email"
        />
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium">
          Password
        </label>
        <div class="relative">
          <div
            class="absolute inset-y-0 end-0 flex items-center pe-3.5 cursor-pointer"
            (click)="showPassword = !showPassword"
          >
            <i [class]="showPassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
          </div>
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full pe-10 p-2.5"
            required
            [(ngModel)]="user.password"
          />
        </div>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              aria-describedby="remember"
              type="checkbox"
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50"
            />
          </div>
          <div class="ml-2 text-sm">
            <label for="remember" class="text-gray-500"> Remember me </label>
          </div>
        </div>
        <a href="#" class="text-sm font-medium text-primary hover:underline">
          Forgot password?
        </a>
      </div>
      <app-button
        type="submit"
        [disabled]="buttonsDisabled"
        size="xl"
        class="w-full"
      >
        @if (buttonsDisabled) {
          <div class="animate-spin">
            <i class="ri-loader-4-line"></i>
          </div>
        } @else {
          Sign in
        }
      </app-button>
      <p class="text-sm font-light text-gray-500">
        Not registered?
        <a
          routerLink="/signup"
          class="font-medium text-primary hover:underline"
        >
          Create an account
        </a>
      </p>
    </form>
  </div>
</div>
