.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}