<div class="bg-white border border-gray-200 rounded-lg shadow my-8">
  <a href="#" class="relative inline-block">
    <span
      class="absolute bottom-1 right-1 px-2 py-1 bg-black text-white text-xs font-bold rounded-lg"
      >{{ basket?.price }} MAD</span
    >
    <span
      class="absolute inline-flex items-center gap-2 top-2 left-2 px-2 py-1 bg-gray-100 border border-red-800 text-red-800 text-xs rounded-lg"
    >
      <i class="ri-time-fill text-red-800 ri-lg"></i>
      Expiring soon
    </span>
    <img class="rounded-t-lg" [src]="basket?.images?.[1]" alt="basket-image" />
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900">
        {{ basket?.title }}
      </h5>
    </a>
    <div class="inline-flex items-center">
      <img
        ngOptimizedImage
        class="w-10 h-10 rounded-full"
        [src]="basket?.createdBy?.picture"
        alt="user_image"
      />
      <div class="my-4 mx-2">
        <p class="font-ubuntu text-xs">
          {{ basket?.createdBy?.firstName }} {{ basket?.createdBy?.lastName }}
        </p>
        <div class="flex items-center gap-1">
          <i class="ri-star-fill text-yellow-300"></i>
          <p class="text-xs font-sans">4.5</p>
        </div>
      </div>
    </div>
    <p class="text-gray-500 text-sm font-sans">
      {{ basket?.description }}
    </p>
    <div
      class="flex items-center gap-4 py-2 mt-2 border-t-2 border-gray-300 text-gray-500"
    >
      <div class="flex items-center gap-1">
        <i class="ri-map-pin-line"></i>
        <p class="font-sans text-sm">0.3km</p>
      </div>
      <div class="flex items-center gap-1">
        <i class="ri-time-line"></i>
        <p class="font-sans text-sm">2h ago</p>
      </div>
    </div>
  </div>
</div>
